/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

/* General setup */



html {
    font-size:16px;
}


	


nav {
	border-top: .125rem solid #000000;
	border-bottom: .125rem solid #000000;
	font-size: 28px;
	word-spacing: 40px;
	text-decoration: none;
	padding: 20px;
}

h2 {
	font-size: 20px;
	margin-left: 45px;
	text-align: bottom;
}

main {
	margin-left: 45px;
}

article {
	float: left;
	width: 60%;
	border-right: 0.125rem solid #000000;
}

aside {
	float: right;
	width: 30%;
}

section {
}

.article-image {
	float: left;
}
.grid-container { 
	display : grid ;
	grid-template-rows : auto ;
	grid-auto-rows : minmax ( 150px , auto );
	grid-template-areas : "header header" 
} 
@font-face { 
	font-family : Ultra;
	src : url ( '../fonts/serif/ultra-regular.ttf' );
	font-size : normal ;
	font-weight : normal ;
} 
.grid-item heading {
	grid-area : header; 
} 
h1 { 
	font-family : sans-serif ;
	font-size : 50px ;
	font-weight : bold ;
	transform : rotate (5deg );
	text-align: center;
} 
.highlight {
	background-color : #610e0e;
	padding : 0.375rem ;
	font-family : Ultra, serif ;
	font-size : 50px ;
	font-weight : normal ;
	letter-spacing : 2px ;
	text-shadow : 1px 1px 1px black ;
	border-bottom-right-radius : 8px ;
	border-top-left-radius : 8px ;
	box-shadow : 2px 2px 2px black ;
	color : #f3eaea; }
	
.main-section {
	float: left;
}
